{% extends 'base.html'%}
{% block title %}HOME{% endblock %}
{% block content%}
<div class="container">
    <div class="row my-4">
        {% if result %}

        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-white" style="font-size: 2rem; background: #259cba;">
                    Profile Page
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <span class="h4" style="font-size: 2rem;"> Patient Information</span>
                            <hr>

                            <table class="table bg-white table-borderless">
                                {% for p in result %}
                                <a class="btn btn-danger btn-sm float-right" href="{% url 'chps:delete_patient' p.id %}"
                                    style="font-size: 2rem;">Delete</a>
                                <a class="btn btn-info btn-sm float-left" href="{% url 'chps:edit' p.id %}"
                                    style="font-size: 2rem;">Edit</a>
                                <tbody>
                                    <tr>
                                        <th scope="row" style="font-size: 2rem;">Registration Number</th>
                                        <td style="font-size: 2rem;">{{p.registration}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="font-size: 2rem;">FirstName</th>
                                        <td style="font-size: 2rem;">{{p.firstname}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="font-size: 2rem;">LastName</th>
                                        <td style="font-size: 2rem;">{{p.lastname}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="font-size: 2rem;">Address/Telephone</th>
                                        <td style="font-size: 2rem;">{{p.telephone}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="font-size: 2rem;">Date of Birth</th>
                                        <td style="font-size: 2rem;">{{p.date_of_birth}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="font-size: 2rem;">NHIS NUMBER</th>
                                        <td style="font-size: 2rem;">{{p.nhis_number}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="font-size: 2rem;">Client's Complaint</th>
                                        <td style="font-size: 2rem;"><textarea name="" id="" cols="80" rows="5"
                                                style="outline: none; border: none; resize: none;">{{p.complaint}}</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="font-size: 2rem;">Date</th>
                                        <td style="font-size: 2rem;">{{p.date1}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="font-size: 2rem;">Time</th>
                                        <td style="font-size: 2rem;">{{p.time}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="font-size: 2rem;">Temperature</th>
                                        <td style="font-size: 2rem;">{{p.temperature}}°C</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="font-size: 2rem;">Weight</th>
                                        <td style="font-size: 2rem;">{{p.weight}}Kg</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="font-size: 2rem;">E.B.P and Pulse</th>
                                        <td style="font-size: 2rem;">{{p.pulse}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="font-size: 2rem;">Observation (O/E)</th>
                                        <td style="font-size: 2rem;"><textarea name="" id="" cols="80" rows="4"
                                                style="outline: none; border: none; resize: none;">{{p.observation}}</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="font-size: 2rem;">Diagnosis</th>
                                        <td style="font-size: 2rem;"><textarea name="" id="" cols="80" rows="4"
                                                style="outline: none; border: none; resize: none;">{{p.diagnosis}}</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="font-size: 2rem;">Treatment Given (Rx)</th>
                                        <td style="font-size: 2rem;"><textarea name="" id="" cols="80" rows="4"
                                                style="outline: none; border: none; resize: none;">{{p.treatment}}</textarea>
                                        </td>
                                    </tr>
                                    <a class="btn btn-primary btn-sm float-right mr-5"
                                        href="{% url 'chps:generate_pdf' p.id %}" style="font-size: 2rem;">Generate
                                        pdf</a>

                                </tbody>
                                {% endfor %}

                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div>
            <p class="text-center mt-5" style="font-size: 2rem;"> Sorry, no result(s) found for {{request.POST.keyword}}
            </p>
        </div>
        {% endif %}

    </div>

</div>

{% endblock%}